In [1]:
models = ['GIN', 'GAT', 'GCNN', 'GatedGCNN']
# note, no twitter.
TUdataset_names = ['ENZYMES', 'PROTEINS', 'IMDB-BINARY', 'MUTAG', 'COLLAB']
prefix = "230822_test"

In [15]:
import os
import json
import pandas as pd
import numpy as np
import sys

#folder_path = '/home/penlu/code/bespoke-gnn4do/training_runs'
folder_path = '/tmp/moe'
model_list = [os.path.join(folder_path,x) for x in os.listdir(folder_path) if x.startswith(prefix)]

train_df = pd.DataFrame(columns=TUdataset_names)
valid_df = pd.DataFrame(columns=TUdataset_names)

# load in params
for model_folder in model_list:
    try:
        if not os.path.isfile(os.path.join(model_folder, 'done.txt')):
            continue
        with open(os.path.join(model_folder, 'params.txt'), 'r') as f:
            model_args = json.load(f)
        train_losses = np.load(os.path.join(model_folder, 'train_losses.npy'))
        valid_losses = np.load(os.path.join(model_folder, 'valid_losses.npy'))
        train_df.at[model_args['model_type'], model_args['TUdataset_name']] = train_losses[-1]
        valid_df.at[model_args['model_type'], model_args['TUdataset_name']] = valid_losses[-1]
    except:
        print(f'something is wrong w/ {model_folder}')
        print(sys.exc_info())

In [16]:
train_df

             ENZYMES   PROTEINS IMDB-BINARY      MUTAG       COLLAB
GAT       -28.155575 -23.474838    43.61396 -18.617297   463.399872
GIN       -22.454281 -19.567075   47.651493  -6.626957  1056.714111
GCNN       -33.55035 -25.809959   35.301662 -14.694799   707.244507
GatedGCNN -31.875875 -38.457634   47.579941 -18.919807  2626.276855

In [17]:
valid_df

             ENZYMES   PROTEINS IMDB-BINARY      MUTAG       COLLAB
GAT       -24.575718 -22.283009   38.221577 -18.582478   852.019763
GIN       -17.355221 -26.595658   56.535475  -6.833764  1210.916617
GCNN      -26.124578 -31.853964   37.968296 -12.909787   911.879622
GatedGCNN -37.445372 -49.121689    36.59476 -19.572719   2298.44822