In [21]:
models = ['GIN', 'GAT', 'GCNN', 'GatedGCNN']
# note, no twitter.
TUdataset_names = ['ENZYMES', 'PROTEINS', 'IMDB-BINARY', 'MUTAG', 'COLLAB']
prefix = "230822_test2"

In [24]:
import os
import json
import pandas as pd
import numpy as np
import sys

folder_path = '/home/penlu/code/bespoke-gnn4do/training_runs'
model_list = [os.path.join(folder_path,x) for x in os.listdir(folder_path) if x.startswith(prefix)]

train_df = pd.DataFrame(columns=TUdataset_names)
valid_df = pd.DataFrame(columns=TUdataset_names)

# load in params
for model_folder in model_list:
    try:
        if not os.path.isfile(os.path.join(model_folder, 'done.txt')):
            continue
        with open(os.path.join(model_folder, 'params.txt'), 'r') as f:
            model_args = json.load(f)
        train_losses = np.load(os.path.join(model_folder, 'train_losses.npy'))
        valid_losses = np.load(os.path.join(model_folder, 'valid_losses.npy'))
        train_df.at[model_args['model_type'], model_args['TUdataset_name']] = train_losses[-1]
        valid_df.at[model_args['model_type'], model_args['TUdataset_name']] = valid_losses[-1]
    except:
        print(f'something is wrong w/ {model_folder}')
        print(sys.exc_info())

In [25]:
train_df

             ENZYMES   PROTEINS IMDB-BINARY      MUTAG       COLLAB
GAT       -16.418591 -23.253971   52.145981 -15.523937   472.773193
GCNN      -32.406258 -25.491299   35.058765 -16.316756   727.903076
GIN       -18.746132 -31.218266   34.392647 -15.207139   906.588623
GatedGCNN -32.198624  -38.22924   -12.27002 -18.917203  2557.345703

In [26]:
valid_df

             ENZYMES   PROTEINS IMDB-BINARY      MUTAG       COLLAB
GAT       -16.408313 -24.488489   44.975361 -15.917727    862.00049
GCNN      -25.614797 -33.119023   41.120373 -12.234971   931.675852
GIN       -15.963618 -29.361864   36.684213 -15.325576  1433.227889
GatedGCNN -37.820978 -48.889887  -10.455469 -19.532964  2310.004601